<template>
 <v-layout mt-4 row>
   <v-flex xs12 sm8 offset-sm2>
     <v-card class="elevation-20">
       <v-img src="https://www.irishexaminer.com/remote/media.central.ie/media/images/s/SunnyBlueSky_large.jpg?width=648&s=ie-837170"
       aspect-ratio="4.5"></v-img>

         <form> <h3 class = "title mt-1 font-weight-bold font-italic" >Comment the weather in {{msg}}</h3>
           <br>
           <textarea id="comment" rows="4" cols="50" v-model="comment.text"></textarea>
           <v-input :disabled="cantComment == true" type="submit" text="addComment" width=20dx small color="positive" v-on:click.native="addComment">ADD COMMENT</v-input>
         </form>

       <v-list two-line>
         <template v-for="(item, index) in items">
           <v-subheader v-if="item.header" :key="item.header">
             {{ item.header }}
           </v-subheader>

           <v-divider v-else-if="item.divider" :key="index" :inset="item.inset"></v-divider>

           <v-list-tile v-else :key="item.title" avatar>
             <v-list-tile-content>
               <v-list-tile-title v-html="item.text"></v-list-tile-title>
               <v-list-tile-sub-title v-html="item.user"></v-list-tile-sub-title>
             </v-list-tile-content>
              <div>
               
                  {{item.positive}} <v-input type="submit" :disabled="checkClick(tag)" text="positive" width=50dx small color="indigo" icon v-on:click.native="positiveClick(item.id_comment)"> <v-icon dark color="indigo">add_circle</v-icon> </v-input>
             </div>
             <div>
                  {{item.negative}} <v-input type="submit" :disabled="negClick" text="negative" width=50dx small color="positive" v-on:click.native="negativeClick(item.id_comment)"> <v-icon dark color="indigo">remove_circle</v-icon> </v-input>
           </div>
           </v-list-tile>
         </template>
       </v-list>
     </v-card>
   </v-flex>
 </v-layout>
</template>

<script>
import axios from 'axios';
import { serverBus } from '../main';
import firebase from 'firebase';

 export default {
   data () {
     return {
       items: [],
       comment:{
           text:"",
           name:"",
           positive:0,
           negative:0
       },
       msg:"",
       email: "",
       cantComment: true,
       posClick:false,
       negClick:false,
       clickedItems:[], 
       pp:0
    }
   },
     methods:{
         addComment:function()
         {
                var temp=this.$route.params.name.split(", ");
                var msg1=temp[0];
                var vm = this;
                var cm = vm.comment.text;
              

                firebase.auth().onAuthStateChanged(function(user){
               if(user){
                vm.email = user.email;
                var pom=vm.email.split("@");
                
                axios.post(`http://localhost:1432/api/comment`,{user:pom[0],text:vm.comment.text, city:vm.$route.params.name.split(", ")[0], positive:0,negative:0});
                vm.comment.text = "";

//  vm.msg=user.email;
              }
        });

           /*   var pom=this.email.split("@");
              
                axios.post(url,{user:pom[0],text:cm, city:msg1, positive:0,negative:0});*/
         },
        checkClick:function(tag)
         {
           this.posClick=false;
           var i;
           for( i=0;i<this.clickedItems.length;i++)          
                  if(this.clickedItems[i]==tag)  this.posClick=true; 
              
           if(this.pp!=0&&this.posClick.bool==false) {this.clickedItems.push(tag);}
            this.pp=1;
           return this.posClick.bool;
         },
         positiveClick:function(tag)
         {
           //(!checkClick(tag))
            {  
              
               const url = `http://localhost:1432/api/comment/`+tag;
                var item;
               (this.items).forEach(element => {
                 if(element.id_comment==tag) item=element;
               });
               var pos=item.positive++;
               var neg=item.negative;
               axios.put(url,{id_comment:tag, positive:pos, negative:neg});
            }
           // else
            //{alert("voted");}
         },
         negativeClick:function(tag)
         {
//checkClick(tag);

               const url = `http://localhost:1432/api/comment/`+tag;
                var item;
               (this.items).forEach(element => {
                 if(element.id_comment==tag) item=element;
               });
               var pos=item.positive;
               var neg=item.negative--;
               return axios.put(url,{id_comment:tag, positive:pos, negative:neg});
         }
       
     },
   created(){
     var vm = this;
      firebase.auth().onAuthStateChanged(function(user){
      if(user){
              vm.cantComment = false;
            }else{
              vm.cantComment = true;
            }
        });  
    
     var temp=this.$route.params.name.split(", ");
      this.msg = temp[0]+", "+temp[temp.length-1];
      var msg1=temp[0];
     const url = `http://localhost:1432/api/comment/test/`+msg1;
              var vm=this;
              axios.get(url).then(function (response){

                                 vm.items=response.data;
                                 
                                 
               })
               serverBus.$on('serverSelected', (msg) => {
               //this.msg = msg;
               });
               
   } 
 }
</script>



