<template>
  <v-footer
    dark
    height="auto"
    fixed
  >
    <v-card
      class="flex"
      flat
      tile
    >
      <v-card-title class="teal">
        <strong class="subheading">{{msg}}</strong>

        <v-spacer></v-spacer>

        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-3"
          dark
          icon
        >
          <v-icon size="24px">{{ icon }}</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-actions class="grey darken-3 justify-center">
        &copy;2019 — <strong>Napredno softversko inženjerstvo</strong>
      </v-card-actions>
    </v-card>
  </v-footer>
</template>

<script>
import { serverBus } from '../main';

  export default {
    data: () => ({
        msg:"",
      icons: [
        'fab fa-facebook',
        'fab fa-twitter',
        'fab fa-google-plus',
        'fab fa-linkedin',
        'fab fa-instagram'
      ]
    }),
    created(){
                    serverBus.$on('serverSelected', (msg) => {
               this.msg = msg;
               });
   }
  }
</script>
