<template>
<v-container>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
    @subit.prevent = "submit"
  >
    <v-text-field
      v-model="name"
      :rules="nameRules"
      label="Name"
      required
    ></v-text-field>

    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required
    ></v-text-field>

    <v-text-field
    type="password"
      v-model="password"
      :rules="passwordRules"
      label="Password"
      required
    ></v-text-field>

     <v-text-field
      v-model="number"
      label="Phone number"
    ></v-text-field>

    <v-checkbox
      v-model="checkbox"
      :rules="[v => !!v || 'You must agree to continue!']"
      label="Do you agree?"
      required
    ></v-checkbox>

    <v-btn
    class="white--text"
      color="red"
      @click="reset"
    >
      Reset
    </v-btn>

    <v-btn
      class="white--text"
      type = "submit"
      color="orange"
      @click="submit"
    >
      Submit
    </v-btn>

  </v-form>
  </v-container>
</template>

<script>
import firebase from 'firebase'
  export default {
    data: () => ({
      valid: true,
      number: '',
      name: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 30) || 'Name must be less than 30 characters'
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Password is required',
        v => (v && v.length <= 10) || 'Password must be less than 10 characters'
      ],
      select: null,
      checkbox: false
    }),

    methods: {
      validate () {
        if (this.$refs.form.validate()) {
          this.snackbar = true
        } else {
          this.snackbar = false;
        }
      },
      reset () {
        this.$refs.form.reset();
      },
      submit () {
        this.validate();
        var vm = this;
        if(this.snackbar){
        firebase.auth().createUserWithEmailAndPassword(vm.email,vm.password).then(function(user){
        }).catch(function(error){alert(error.message)});

        firebase.auth().onAuthStateChanged(function(user){
            if(user){
                   user.updateProfile({
                  displayName: vm.name,
                  phoneNumber: vm.number,
                  photoURL: "http://www.sherv.net/cm/emoticons/travel/backpacking-smiley-emoticon.png"
                  }).catch(function(error) {});
            }
        }); 
        
        this.$router.push('/');
        } 
      }
    }
  }
</script>