<template>
<div>
<div id="mymap">
</div>
</div>
</template>

<script>
import L from 'leaflet'
import G from 'leaflet-geosearch'
import { serverBus } from '../main';

var GeoSearchControl = window.GeoSearch.GeoSearchControl;
var OpenStreetMapProvider = window.GeoSearch.OpenStreetMapProvider;

export default {
   name: 'AppToolbar',
   data() {
       return {
           msg: 'Welcome to Your Vue.js App'
       }
   },
   mounted() {
       this.initMap();
   },
   methods: {
       initMap() {
           var mymap = L.map('mymap').setView([40,0], 3);

                      L.tileLayer('https://a.tiles.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=' + 'pk.eyJ1IjoibGllZG1hbiIsImEiOiJjaXZ0NzEzMm0wMDNrMnlxZGtwZDhlb3V0In0.M3hMRRUB0CoqFEneKWVHKA', {
       attribution: '<a href="http://osm.org/copyright">Terms & Feedback</a>'
   }).addTo(mymap);


        var vm=this;
         var provider = new OpenStreetMapProvider();
         var searchControl = new GeoSearchControl({
               provider: provider,                              
                popupFormat: ({ query, result }) =>{serverBus.$emit('serverSelected', query)}
                                              
               });


           mymap.addControl(searchControl);   

       
   
       }
}
}
</script>

<style scoped>

#mymap {
    position: vertical;
    width: 100%;
    height: 575px;
}

h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}
</style>

