<template>
  <v-toolbar dark color="#00796B">
    <v-toolbar-side-icon></v-toolbar-side-icon>

    <router-link to="/"><v-toolbar-title class="white--text">PerfectWeather</v-toolbar-title></router-link>
    
    <v-spacer></v-spacer>
    
    <router-link :to="'/comments/'+msg" ><v-btn flat> Comments </v-btn></router-link>
    
    <router-link to="/contact"><v-btn flat> Contact </v-btn></router-link>
    
    <router-link to="/login"><v-btn flat> Login </v-btn></router-link>

  </v-toolbar>
</template>

<script>
import { serverBus } from '../main';

  export default {
    data () {
      return {
        msg: ""
        }
    },
    created(){
                    serverBus.$on('serverSelected', (msg) => {
               this.msg = msg;
               });
   }
  }
</script>