<template>
  <v-layout mt-4>
    <v-flex xs12 sm8 offset-sm2 >
      <v-card class="elevation-20" height="auto">

        <v-img src="https://cdn.vuetifyjs.com/images/lists/ali.png" height="300px">
          <v-layout column fill-height>

            <v-spacer></v-spacer>

            <v-card-title class="white--text pl-5 pt-5">
              <div class="display-1 pl-5 pt-5">{{name}}</div>
            </v-card-title>

          </v-layout>
        </v-img>
        
        <v-list two-line>

          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="indigo">phone</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>{{number}}</v-list-tile-title>
              <v-list-tile-sub-title>Phone number</v-list-tile-sub-title>
            </v-list-tile-content>

          </v-list-tile>

          <v-divider inset></v-divider>

          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="indigo">mail</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>{{email}}</v-list-tile-title>
              <v-list-tile-sub-title>You are logged in with this address</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-divider inset></v-divider>

        </v-list>

      <v-card-text class="text-xs-center" primary-title>
         <h3 class="headline mb-0 text-xs-center">Your Comments</h3>
      </v-card-text>

      <v-flex >
        <material-card color="green" title="Edit Profile" text="Complete your profile">
          <v-list two-line>
              <template v-for="(item, index) in items">
                  <v-subheader v-if="item.header" :key="item.header">{{ item.header }}</v-subheader>
                  
                  <v-divider v-else-if="item.divider" :key="index" :inset="item.inset"></v-divider>

                  <v-list-tile v-else :key="item.title" avatar>
                      <v-list-tile-content><input type="text" v-html="item.text" v-model="item.text">
                      <v-list-tile-sub-title v-html="item.user"></v-list-tile-sub-title>
                      </v-list-tile-content><div>
                           <v-input type="submit" text="positive" width=50dx small icon class="mr-3" v-on:click.native="updateComment(item.id_comment,item.text)">
                
              <v-icon color="indigo">edit</v-icon>
            
                          </v-input>
                          </div>
                          <div>
                           <v-input type="submit" text="negative" width=50dx small  v-on:click.native="deleteComment(item.id_comment)"> 
                            <v-icon color="indigo">delete</v-icon>
                             </v-input>
                          </div>
                  </v-list-tile>  

                  <v-divider v-if="index + 1 < items.length" :key="`divider-${index}`"></v-divider> 

               </template>
           </v-list>
        </material-card>
    </v-flex>  

      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import firebase from 'firebase'
import axios from 'axios';

export default {
    data(){
        return{
            email: "",
            name: "",
            image: "",
            number:"",
            items: []
        }
    },
    methods:{
        updateComment:function(tag,tt)
        {
            const url = `http://localhost:1432/api/comment/change/`+tag;
             return axios.put(url,{id_comment:tag, text:tt});

        },
        deleteComment:function(tag)
        {
                const url = `http://localhost:1432/api/comment/`+tag;
                return axios.delete(url);
        }

    },
    created(){

          var vm=this;
          var pom;
        firebase.auth().onAuthStateChanged(function(user){
            if(user){
            vm.name = user.displayName;
            vm.email = user.email;
            vm.image = user.photoURL;
            vm.number = user.phoneNumber;
            
             var url = `http://localhost:1432/api/comment/text/`+vm.email.split("@")[0];//ovde treba email
              
              axios.get(url).then(function (response){

                vm.items=response.data;
                vm.comment.name=response.data;
                                 
               });   

            }
        });  
             /* 
            var url = `http://localhost:1432/api/comment/text/`+"jovana.stamenkovic.75";//ovde treba email
              
              axios.get(url).then(function (response){

                vm.items=response.data;
                vm.comment.name=response.data;
                                 
               });*/
    }
}
</script>
