<template>
  <div id="app">
      <toolbar2 v-if="loged"></toolbar2>
      <toolbar1 v-else></toolbar1>
    <router-view/>
    <tooter></tooter>
  </div>
</template>

<script>
import Toolbar1 from './components/toolbar1Component.vue'
import Toolbar2 from './components/toolbar2Component.vue'
import Tooter from './components/footerNComponent.vue'
import firebase from 'firebase'

export default {
  name: 'App',
  components: {
    Toolbar1,
    Toolbar2,
    Tooter
  },
  data(){
    return{
      loged: false
    }
  },
  created(){
    var vm = this;
      firebase.auth().onAuthStateChanged(function(user){
      if(user){
        vm.loged = true;
      } else {
        vm.loged = false;
      }
      });
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
